.panelIzquierdo {
  border-right: 1px solid #808080;
}
.panelIzquierdo .contenido ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -40px;
  box-shadow: 1px 1px 3px #808080;
  cursor: context-menu;
  margin-top: 3px;
}
.panelIzquierdo .contenido ul li:hover {
  font-weight: bold;
}
.panelIzquierdo .encabezado #frmAddItem {
  display: none;
  padding: 0.4em;
  box-shadow: 3px 7px 10px #383838;
}
.panelIzquierdo .encabezado #frmAddItem span {
  color: #787888;
  font-weight: bold;
  float: right;
}
.panelIzquierdo .encabezado #frmAddItem a {
  color: #f00;
  font-weight: bold;
  float: left;
}
.panelIzquierdo .encabezado #frmShowAddItem {
  text-align: right;
}
.panelIzquierdo .encabezado #frmShowAddItem a {
  text-decoration: underline;
}
.panelIzquierdo .encabezado input {
  border: none;
  border-radius: 10px;
  color: #70707c;
  display: inline;
  font-size: 1.3em;
  width: 90%;
}
.panelIzquierdo .encabezado input:focus {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #808080;
  color: #70707c;
}
.panelIzquierdo .encabezado button {
  display: inline;
}
.tituloPagina {
  background: #0e0d01;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}
