.panelIzquierdo {
  border-right: 1px solid #808080;
}
.panelIzquierdo .encabezado input {
  width: 90%;
  display: inline;
  font-size: 1.3em;
  border-radius: 10px;
}
.panelIzquierdo .encabezado input:focus {
  border: none;
  box-shadow: 1px 1px 3px #808080;
  border-radius: 10px;
}
.panelIzquierdo .encabezado button {
  display: inline;
}
.panelIzquierdo .contenido ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -40px;
  box-shadow: 1px 1px 3px #808080;
  cursor: context-menu;
  margin-top: 3px;
}
.panelIzquierdo .contenido ul li:hover {
  font-weight: bold;
}
.tituloPagina {
  background: #0e0d01;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}
